.about {
    background: url("/assets/wallpapers/wallpaper.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.about h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5vh;
    color: white;
    font-size: 5vh;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.about p {
    position: relative;
    top: 10vh;
    color: white;
    font-size: 3.5vh;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0 25px 0 25px;
}

.center-anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anchor-button {
    align-items: center;
    background-color: #1173ba;
    color: white;
    padding: 1vh 2vh;
    font-size: 4vh;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
    top: 30vh;
    transition: 0.3s;
}

.anchor-button:hover {
    background-color: #095386;
    transition: 0.3s;
}

.psa {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.psa:hover {
    color: #D3D3D3;
    transition: 0.1s;
}

.cep {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .about p {
        font-size: 3vh;
    }
}

@media only screen and (max-width: 600px) {
    .about a {
        font-size: 3vh;
        padding: 0.5 1.5;
    }
}

@media only screen and (max-width: 400px) {
    .about p {
        font-size: 2vh;
    }
}