.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/assets/wallpapers/wallpaper.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home h1 {
    position: relative;
    top: 5vh;
    color: white;
    font-size: 10vh;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
}

.home p {
    position: relative;
    top: 10vh;
    color: white;
    font-size: 3.5vh;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0 25px 0 25px;
}

.home a {
    background-color: #1173ba;
    color: white;
    padding: 1vh 2vh;
    font-size: 4vh;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
    top: 30vh;
    transition: 0.3s;
}

.home a:hover {
    background-color: #095386;
    transition: 0.3s;
}

@media only screen and (max-width: 800px) {
    .home h1 {
        font-size: 8vh;
    }
    .home p {
        font-size: 3vh;
    }
}

@media only screen and (max-width: 600px) {
    .home h1 {
        font-size: 5vh;
    }
    .home a {
        font-size: 3vh;
        padding: 0.5 1.5;
    }
}

@media only screen and (max-width: 400px) {
    .home h1 {
        font-size: 3.5vh;
    }
    .home p {
        font-size: 2vh;
    }
}