@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #359ee9;
}
  
.logo {
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2vh;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: white;
    text-decoration: none;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    padding: 2.4vh;
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    background-color: #1584d5;
}
  
.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #1584d5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.cta:hover {
    background-color: #0e629e;
}
  
.menu {
    display: none;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #359ee9;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}
  
.overlay--active {
    width: 100%;
}
  
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: #1584d5;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    cursor: pointer;
}
  
@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
  
@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
}