@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

.main-title {
    font-size: 50px;
    margin-top: 35px;
    font-weight: bold;
}

.title-logo {
    height: 45px;
    width: 45px;
    border-radius: 75px;
    position: relative;
    bottom: -87.5px;
    left: -125px;
}

.main-text {
    font-size: 35px;
    margin-top: 75px;
}

.about-btn-div {
    margin-top: 100px;
}

.about-btn {
    font-size: 30px;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: #333;
    text-decoration: none;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    .main-title {
        font-size: 40px;
        margin-top: 25px;
    }

    .title-logo {
        height: 35px;
        width: 35px;
        border-radius: 65px;
        bottom: -67.3px;
        left: -100px;
    }

    .main-text {
        font-size: 25px;
        margin-top: 65px;
    }

    .about-btn-div {
        margin-top: 75px;
    }

    .about-btn {
        font-size: 20px;
    }
}