@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

nav {
    background-color: #333;
    padding: 5px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0 0 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 25px;
    text-align: center;
    order: 3;
}

nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.items:hover {
    opacity: 1;
    transition: all 0.2s linear;
}

nav ul li.logo {
    flex: 1;
    color: white;
    font-size: 23px;
    margin: 0;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
    padding: 25px 20px 25px 20px;
}

nav ul li:hover a {
    color: cyan;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

nav ul li i {
    font-size: 23px;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn.hide i:before {
    content: '\f00d';
}

@media screen and (max-width: 800px) {
    nav {
        width: 100%;
    }

    nav ul li.items {
        width: 100%;
        display: none;
        padding: 3vh 0 3vh 0
    }

    nav ul li.items.show {
        display: block;

    }

    nav ul li.btn {
        display: block;
        position: relative;
        bottom: -6.5px;
    }

    nav ul li.items:hover {
        border-radius: 5px;
        box-shadow: inset 0 0 5px #33ffff,
        inset 0 0 10px #66ffff;
    }

    nav ul li.items:hover:after {
        opacity: 0;
    }
}